.review_button {
	width: 200px;
	padding: .5rem;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: bold;
	background-color: goldenrod;
	border-radius: 1.5rem;
	transition: all 1s ease-in-out;

	&:hover {
		background-color: rgb(235, 183, 53);
		border-radius: 0.7rem;
	}
}

p {
	margin: 1rem;
	font-size: 1.2rem;
	font-weight: 500;
}

.total {
	color: red;
	font-weight: 600;
}